__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

.DS_Store
outputs/
output
results/
datasets/
pretrained_models/
notebooks/figures/


*.jpg
*.ipynb_checkpoints
*.ipynb

wandb/
*.pth
compression/optimize_vae/__pycache__
compression/optimize_vae/wandb
compression/optimize_vae/taesd

img2dataset/download_util/opendata
evaluation/visual_img


scripts/optimize_vae/finetune_rec

evaluation/visual_unet_img
