xformers==0.0.23 
transformers==4.27.4
diffusers==0.27.0
datasets==2.18.0
torch==2.1.1
torch-fidelity==0.3.0
pytorch-fid==0.3.0
open-clip-torch==2.24.0
peft==0.2.0
thop==0.1.1.post2209072238
protobuf==3.20.3
torchvision
clean-fid
accelerate
webdataset
prefetch_generator
tqdm
einops
pynvml
pygments
addict
decorator
yapf
matplotlib
wandb
wcwidth
timm